@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid red;
  padding: 0 50px;
}
.manu {
  width: 58px;
  height: 1px;
  display: flex;
  cursor: pointer;
}
.manu_container {
  position: absolute;
  top: 8%;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  display: inline-flex;
  color: white;
  text-decoration: none;
  height: 50px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  /* text-transform: uppercase; */
 margin-top: 1vw;
}
a:hover{
  color: #D7F205;
}
.btn_close{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  color: black;
  border-radius: 58px;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  font-size: 35px;
  justify-content: center;
  align-items: end;


}