.main{
   /* background-image: url("https://res.cloudinary.com/dt0j68vdr/image/upload/v1675667922/concert-audience-PG2VFZFa_qxrj6o.webp");
   height: min-content;
   width: min-content;
   position:sticky; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}